<!DOCTYPE html>
<html>
<head>
	<title>Mahasisa App</title>
	<link rel="stylesheet" type="text/css" href="dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body ng-app="Mahasiswa">

<div class="container" ng-controller="MahasiswaController as main">
	<div class="col-md-4">
		<h2 class="page-header">Student Note</h2>
		<form>
			<div class="form-group">
		    	<label for="inputNim">Nim</label>
		    	<input type="text" class="form-control" ng-model="main.currentMahasiswa.nim">
		  	</div>
		  	<div class="form-group">
			    <label for="inputName">Name</label>
			    <input type="text" class="form-control" ng-model="main.currentMahasiswa.name">
		  	</div>
		  	<div class="form-group">
			    <label for="inputEmail">Email</label>
			    <input type="email" class="form-control" ng-model="main.currentMahasiswa.email">
		  	</div>
		  	<div class="form-group">
			    <label for="inputNote">Please type your note here</label>
			    <textarea class="form-control" rows="5" ng-model="main.currentMahasiswa.note"></textarea>
		  	</div>
		</form>
	</div>
	<div class="col-md-8">
		<h2 class="page-header">Notes</h2>
		<br>
		<button class="btn btn-default" ng-click="main.createMahasiswa()">Create note</button>
		<p></p>
        <datamahasiswa class="callout" id="calloutid"
        			   ng-repeat="mahasiswa in main.mahasiswas" 
        			   ng-click="main.setCurrentMahasiswa(mahasiswa)">
		</datamahasiswa>
	</div>
</div>



<!-- UNTUK BOOTSTRAP -->
<script src="dist/jquery.min.js"></script>
<script src="dist/js/bootstrap.min.js"></script>

<!-- UNTUK ANGULAR JS -->
<script src="dist/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/services/MahasiswaService.js"></script>
<script src="js/controllers/MahasiswaController.js"></script>
<script src="js/directives/MainDirective.js"></script>
</body>
</html>